* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
} 

body {
  background-image: linear-gradient(black, #142453);
  background-color: black;
  height: 100vh;
  font-family: 'Poppins', sans-serif;
}

/* Contenedor principal */
.main_div {
  text-align: center;
  margin-top: 50px;
  max-width: 900px;
  margin-left: auto;
  margin-right: auto;
  padding: 20px;
}

/* Inputs para agregar tareas */
.add_list_div {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #fff;
  border-radius: 10px;
  padding: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin-bottom: 20px;
}

.add_list_div input {
  width: 80%;
  padding: 10px;
  margin: 10px 0;
  border: 1px solid #ddd;
  border-radius: 8px;
  font-size: 16px;
}

.add_icon {
  background-color: #1878D0;
  border: none;
  color: white;
  padding: 10px 15px;
  border-radius: 7px;
  cursor: pointer;
  transition: 0.3s ease;
}

.add_icon:hover {
  background-color: #106db7;
  transform: scale(1.1);
}

/* Contenedor de las tareas */
.show_items {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.each_item {
  display: flex;
  flex-direction: column;
  background-color: #fff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  gap: 10px;
}

.each_item h2 {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 10px;
  background-image: linear-gradient(to right, #ff9f00, #ff6f00);
  padding: 10px;
  color: white;
  border-radius: 5px;
  text-align: center;
}

.items {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.items small {
  font-size: 14px;
  color: #777;
}

.chkbox {
  cursor: pointer;
  height: 20px;
  width: 20px;
  border: 2px solid #007bff;
  border-radius: 50%;
  background-color: white;
  display: inline-block;
  transition: 0.3s ease;
}

.chkbox:checked {
  background-color: #007bff;
  border-color: #0056b3;
}

.edit_del_div {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  gap: 15px;
}

.delete_icon, .edit_icon {
  width: 30px;
  height: 30px;
  background-color: #f0f0f0;
  border: none;
  border-radius: 50%;
  cursor: pointer;
  transition: 0.3s;
}

.delete_icon:hover {
  background-color: #ff4d4d;
  color: white;
}

.edit_icon:hover {
  background-color: #4CAF50;
  color: white;
}
h3{
    
  color:white; 
}

/* Responsividad para pantallas pequeñas */
@media (max-width: 768px) {
  .add_list_div {
    width: 90%;
  }

  .show_items {
    gap: 10px;
  }
  
  
  .each_item {
    padding: 15px;
  }

  .each_item h2 {
    font-size: 18px;
  }

  .items {
    flex-direction: column;
    align-items: flex-start;
  }
}
